{% extends "base.html" %}

{% set active = "config" %}

{% block head %}
{% endblock %}

{% block content %}
<form action="config" method="post">
    <div class="form-group row">
        <div class="col-sm-6">
            <h4>Access Point</h4>
            <input name="ap_psk" type="password" class="form-control"
                    placeholder="Password">
        </div>
        <div class="col-sm-6">
            <h4>Mesh Conncetion</h4>
            <input name="mesh_psk" type="password" class="form-control"
                    placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Apply</button>
            <a class="btn btn-danger" href="reset" 
                    role="button">Reset network</a>
        </div>
    </div>
</form>
{% endblock %}
