{% extends "base.html" %}

{% set active = "graph" %}

{% block head %}
    <link href="../static/css/netjsongraph.css" rel="stylesheet">
    <link href="../static/css/netjsongraph-theme.css" rel="stylesheet">
        <style>
        body{ overflow: hidden }
        /* legend */
        #legend{
            position: absolute;
            top: auto;
            left: 5px;
            bottom: 5px;
            width: auto;
            height: auto;
            max-width: 250px;
            padding: 0 15px;
            background: #fbfbfb;
            border-radius: 2px;
            border: 1px solid #ccc;
            color: #6d6357;
            font-family: Arial, sans-serif;
            font-family: sans-serif;
            font-size: 14px;
        }
        #legend p{ line-height: 16px; margin: 10px 0 }
        #legend span{
            width: 16px;
            margin-right: 5px;
        }
        #legend span.circle{
            display: inline-block;
            border-radius: 50%;
            height: 16px;
        }
        #legend span.link{
            display: inline-block;
            height: 5px;
            border-bottom-width: 6px;
            border-bottom-style: solid;
        }
        #legend .node{ background-color: grey }
        #legend .up{ background-color: green !important }
        #legend .up-mload{ background-color: orange !important }
        #legend .up-hload{ background-color: red !important }
        #legend .up-gateway{ background-color: #9932CC !important }
        #legend .over1Gbit { border-color: #9900ff }
        #legend .over100Mbit{ border-color: #6666ff }
        #legend .over50Mbit{ border-color: green }
        #legend .over10Mbit{ border-color: yellow }
        #legend .over5Mbit{ border-color: #ff9900 }
        #legend .under5Mbit{ border-color: red }

        .njg-node{ fill: grey }
        .njg-node.up{ fill: green !important }
        .njg-node.up-mload{ fill: orange !important }
        .njg-node.up-hload{ fill: red !important }
        .njg-node.up-gateway{ 
            stroke-opacity: 0.8; 
            stroke: #9932CC; 
            fill: green !important; 
        }
        .njg-node.up-mload-gateway{ 
            stroke-opacity: 0.8;
            stroke: #9932CC; 
            fill: orange !important; 
        }
        .njg-node.up-hload-gateway{ 
            stroke-opacity: 0.8;
            stroke: #9932CC; 
            fill: red !important; 
        }
        .over1Gbit { stroke: #9900ff }
        .over100Mbit { stroke: #6666ff }
        .over50Mbit { stroke: green }
        .over10Mbit { stroke: yellow }
        .over5Mbit { stroke: #ff9900 }
        .under5Mbit { stroke: red }
    </style>
{% endblock %}

{% block content %}
    <div id="legend">
        <p><span class="circle up">&nbsp;</span> Node up</p>
        <p><span class="circle up-mload">&nbsp;</span> Medium load</p>
        <p><span class="circle up-hload">&nbsp;</span> High load</p>
        <p><span class="circle up-gateway">&nbsp;</span> Node gateway</p>
        <p><span class="circle node">&nbsp;</span> Node down/unknown</p>
        <p><span class="link over1Gbit">&nbsp;</span> Over 1Gbit</p>
        <p><span class="link over100Mbit">&nbsp;</span> Over 100Mbitt</p>
        <p><span class="link over50Mbit">&nbsp;</span> Over 50Mbit</p>
        <p><span class="link over10Mbit">&nbsp;</span> Over 10Mbitt</p>
        <p><span class="link over5Mbit">&nbsp;</span> Over 5Mbit</p>
        <p><span class="link under5Mbit">&nbsp;</span> Under 5Mbit</p>
    </div>
        <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/netjsongraph.js') }}"></script>
        <script src="/static/fmt.js"></script>
        <script src="/static/properties.js"></script>
        <script type="text/javascript">
            d3.netJsonGraph("/netjson", {
                linkDistance: 150,
                charge: -200,
                circleRadius: 12,
                defaultStyle: false,
                linkClassProperty: "best_rate",
                nodeClassProperty: "node_state",
                gravity: 0.03,
            onClickNode: function(n) {
                var overlay = d3.select(".njg-overlay"),
                    overlayInner = d3.select(".njg-overlay > .njg-inner"),
                    html = "<p><b>Short ID</b>: " + n.id + "</p>";
                    if (n.id) {
                        if(n.label) { html += "<p><b>Hostname</b>: <a href='config/" + n.id + "'>" + n.label + "</a></p>"; }
                    } else {
                        if(n.label) { html += "<p><b>Hostname</b>: " + n.label + "</p>"; }
                    }
                    if(n.properties) {
                        for(var property in properties_active) {
                            if(! properties_active[property][1]) {
                                var value = n.properties[property]
                            } else { 
                                var value = properties_active[property][1](n.properties[property])
                            }
                            html += "<p><b>"+properties_active[property][0]+"</b>: " + value + "</p>";
                        }
                    }
                
                if(n.linkCount) { html += "<p><b>Link Count</b>: " + n.linkCount + "</p>"; }
                if(n.local_addresses) {
                    html += "<p><b>Local Addresses</b>:<br>" + n.local_addresses.join('<br>') + "</p>";
                }
                overlayInner.html(html);
                overlay.classed("njg-hidden", false);
                overlay.style("display", "block");
                removeOpenClass();
                d3.select(this).classed("njg-open", true);
            },
            onClickLink: function(l) {
                var overlay = d3.select(".njg-overlay"),
                    overlayInner = d3.select(".njg-overlay > .njg-inner"),
                    html = "<p><b>source</b>: " + (l.source.label || l.source.id) + "</p>";
                    html += "<p><b>target</b>: " + (l.target.label || l.target.id) + "</p>";
                if(l.properties) {
                    for(var key in l.properties) {
                        if(!l.properties.hasOwnProperty(key) || key == "devs" || key == "rate" ) { continue; }
                        html += "<p><b>"+ key.replace(/_/g, " ") +"</b>: " + l.properties[key] + "</p>";
                    }
                }
                html += "<b>devices:<b></br>"
                for(var dev in l.properties.devs) {
                    html += "- "+ dev +": " + l.properties.devs[dev] + "</br>";
                }
                overlayInner.html(html);
                overlay.classed("njg-hidden", false);
                overlay.style("display", "block");
                removeOpenClass();
                d3.select(this).classed("njg-open", true);
            },
                });
        </script>
{% endblock %}
